@charset "UTF-8";

@use 'abstracts';
@use 'base';
@use 'layout';
@use 'components';
@use 'pages';

// Plyr custom styles
:root {
  --plyr-color-main: #6b7280;
  --plyr-control-icon-size: 15px;
  --plyr-control-radius: 20px;
  --plyr-font-family: "Poppins", sans-serif;
}