.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 2rem;
}

@media(max-width: 1200px) {
    .container {
        padding: 0 1.5rem;
    }
}

@media(max-width: 768px) {
    .container {
        padding: 0 1.5rem;
    }
}

@media(max-width: 480px) {
    .container {
        padding: 0 1rem;
    }
}

