@use '../abstracts' as *;

.back-to-top {
    position: static;
    background-color: $color-secondary-accent;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    border: none;
    margin: 0 auto;

    &:hover {
        background-color: $color-primary-accent;
    }

    @media (max-width: 480px) {
        bottom: $spacing-md;
        right: $spacing-md;
    }
}