@use '../abstracts' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-secondary, sans-serif; // Roboto Regular
    color: $color-body-text;
    background-color: $color-background;
    line-height: 1.6;
    font-size: 16px;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    font-family: inherit;
}

// Prevent background scrolling when mobile menu is open
.no-scroll {
    overflow: hidden;
    height: 100vh;
    
    @media (min-width: 768px) {
        overflow: auto;
        height: auto;
    }
}