@use '../abstracts' as *;

.thanks-section {
    padding: $spacing-xl 0;
    min-height: calc(100vh - 200px);
    @include flex-center;

    .thanks-content {
        text-align: center;

        .check-icon {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            background-color: $color-light-gray;
            @include flex-center;
            margin: 0 auto $spacing-lg;

            @media (max-width: 480px) {
                width: 120px;
                height: 120px;
            }

            svg {
                width: 40px;
                height: 40px;
                stroke: $color-active;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        h1 {
            font-size: 2rem;
            color: $color-active;
            margin-bottom: $spacing-sm;
        }

        p {
            font-size: 1rem;
            color: $color-text;
        }
    }
}

